<div class="container-fluid">

<!-- options menu -->
  <div class="box" id="options-menu">
    <div class="columns">
      <div class="column">
        <input class="input handle-input" type="text" placeholder="Codeforces handle" ng-model="handle.username">
      </div>
      <div class="column">
        <p ng-if="handle_error" class="error">{{handle_error}}</>
      </div>
      <div class="column is-half">
        <a class="button is-info" ng-click="get_cf_data()">Get CF data</a>
      </div>
    </div>
    <label>
			<input type="checkbox" ng-model="team_submssions" />
			Consider team submissions
		</label>
  </div>

  <div ng-if="!loading" google-chart chart="myChartObject" style="height:600px; width:100%;"></div>
    <div ng-if="loading">
      <img src="/static/imgs/loading.gif"/>
  </div>
    <p ng-show="test">{{test}}</p>
  </div>
</div>
