.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.section-title {
  font-size: 30px;
}

.title {
  font-size: 15px;
}

.error {
  color: red;
}

.top-space {
  margin-top: 2%;
}

.white-background {
  background-color: white;
}

#options-menu {
  background-color: #f5f5f5;
}
